
#grid {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.square {
    background: red;
    margin: 1px; 
}

.square:hover {
    background: lightblue;
}

